# Core
python-dotenv
pandas
numpy
sqlalchemy
psycopg2-binary
tqdm
networkx

# Spark (optional if USE_SPARK_ETL=true)
pyspark>=3.5.0

# ML / AI
sentence-transformers
scikit-learn
transformers
torch

# UI / CLI
click
rich

# Optional (future: Streamlit dashboard)
streamlit
