# requirements.txt
streamlit
python-dotenv

# Core Pipeline
pandas
sqlalchemy
psycopg2-binary
scikit-learn
numpy

# AI & ML
transformers
torch
torchvision
torchaudio
sentence-transformers
sentencepiece

# Data Generation
networkx
tqdm

# Scraping
praw
requests-html
pyppeteer
nest-asyncio

# Spark Demo (Optional)
# (Install with: pip install pyspark)
