python-dateutil
click
rich
pandas
SQLAlchemy
pyspark
praw
requests-html
networkx
tqdm
psycopg2-binary
ipython
python-dotenv
nest-asyncio
pyppeteer
torch
sentence-transformers
scikit-learn
numpy
transformers
